---
layout: default
---



<div class="post">


  <div class="header header-1">
    <ul>
      <img class="logo" src="/assets/img/photo.jpg"/>
    </ul>
  </div>


  <article class="post-content {{page.title}} clearfix">

    <font color= "#6666B3", size="5"> Welcome!</font>
    <br/>
    My name is Xinyi Yu (<a href="https://translate.google.com/?hl=zh-CN&sl=auto&tl=zh-CN&text=Xinyi&op=translate" target="_blank">pronunciation</a>). I am a second-year PhD student in Computer Science at <a href="https://www.usc.edu/" target="_blank">University of Southern California (USC)</a>, working with <a href="https://sites.google.com/view/larslindemann/main-page" target="_blank">Prof. Lars Lindemann</a>. I received the M.S. degree in Control Science and Engineering from <a href="https://en.sjtu.edu.cn/" target="_blank">Shanghai Jiao Tong Univeristy (SJTU)</a>, working with Prof. Shaoyuan Li and <a href="http://xiangyin.sjtu.edu.cn/index.html" target="_blank">Prof. Xiang Yin</a> in 2023, and the B.S. degree in Department of Automation from <a href="https://english.upc.edu.cn/" target="_blank">China University of Petroleum, East China (UPC)</a> in 2020.
    <br/>
    <br/>
    Email: <a href="mailto:xinyi.yu12@usc.edu">xinyi.yu12@usc.edu</a>
    <br/>
    <a href="https://github.com/Xinyi-Yu" target="_blank">GitHub</a> | 
    <a href="https://scholar.google.com/citations?hl=zh-CN&user=i0iV1CsAAAAJ" target="_blank">Google Scholar</a> | 
    <a href="https://www.researchgate.net/profile/Xinyi-Yu-25" target="_blank">ResearchGate</a> |
    <a href="https://www.linkedin.com/in/xinyi-yu-257264327/" target="_blank">LinkedIn</a>
  </article>
</div>
<br/>

<div class="post">

  <article class="post-content {{page.title}} clearfix">
    {{ content }}
  </article>

</div>